{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Foodz - {% block title %}{% endblock %}</title>
            
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'lib/slick-1.8.1/slick/slick.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'reset.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="main-container">

            <div class="display-notificacoes">

                <i class="fas fa-times" id="close-not"></i>

                <h2>Central de Notificações</h2>

                <ul class="notificacoes">
                    {% if notificacoes %}
                        {% for n in notificacoes %}
                            {% if n.foi_lida == 0 %}
                                <li id="{{n.id}}">
                                    <div class="info">
                                        <p>{{n.mensagem}}</p>
                                        <p class="date">{{ n.data_comentario|date:"d M Y" }} {{ n.data_comentario|time:"H:i" }}</p>
                                    </div>

                                    <div class="check">
                                        <a href="#" id="{{n.id}}">
                                            <i class="fas fa-check" data-toggle="tooltip" title="Lida" data-placement="bottom"></i>
                                            <i class="far fa-trash-alt" data-toggle="tooltip" title="Lixeira" data-placement="bottom"></i>
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="nenhuma-not">
                            <p>Nenhuma notificação no momento!</p>
                            <span>Volte mais tarde!</span>
                        </div>
                    {% endif %}
                </ul>

                <div class="bottom-button">
                    <div class="todas-lidas">       
                        <a href="#" id="{{n.id}}"><i class="far fa-envelope-open" data-toggle="tooltip" title="Todas Lidas" data-placement="top"></i></a>
                        <div class="total-lidas">
                            <span>{{lidas.count}}</span>
                        </div>
                    </div>
    
                    <div class="lixeira">
                        <a href="#" id="{{n.id}}"><i class="far fa-trash-alt" data-toggle="tooltip" title="Lixeira" data-placement="top"></i></a>
                    </div>
                </div>
            </div>

            <div class="wrapper-dashboard">
                <div class="sidenav">
                    
                    <h1> <a href="/"> <span class="hidden-xs hidden-sm">Foodz</span> <span class="visible-xs visible-sm">Fz</span> </a> </h1>
                
                    <div class="menu-dashboard">
                        <ul>
                            <li>
                                {% if request.path == '/dashboard/' %}
                                <a href="/dashboard/" class="active-dash"> <i class="fas fa-home"></i> <span class="click_toggle">Home</span> </a>
                                {% else %}
                                <a href="/dashboard/"> <i class="fas fa-home"></i> <span class="click_toggle">Home</span> </a>
                                {% endif %}
                            </li>
                
                            <li>
                                {% if request.path == '/dashboard/financeiro' %}
                                <a href="/dashboard/financeiro" class="active-dash"> <i class="fas fa-dollar-sign"></i> <span class="click_toggle">Financeiro</span> </a>
                                {% else %}
                                <a href="/dashboard/financeiro"> <i class="fas fa-dollar-sign"></i> <span class="click_toggle">Financeiro</span> </a>
                                {% endif %}                                
                            </li>
                
                            <li>
                                {% if request.path == '/dashboard/produtos' %}
                                <a href="/dashboard/produtos" class="active-dash"> <i class="fab fa-product-hunt"></i> <span class="click_toggle">Produtos</span> </a>
                                {% else %}
                                <a href="/dashboard/produtos"> <i class="fab fa-product-hunt"></i> <span class="click_toggle">Produtos</span> </a>
                                {% endif %}
                            </li>
                
                            <li>
                                <a href="#"> <i class="fas fa-chart-line"></i> <span class="click_toggle">Vendas</span> </a>
                            </li>
                
                            <li>
                                <a href="#"> <i class="fas fa-clipboard-list"></i> <span class="click_toggle">Relatório</span> </a>
                            </li>

                            <li>
                                {% if request.path == '/dashboard/config' %}
                                <a href="/dashboard/config" class="active-dash"> <i class="fas fa-cog"></i> <span class="click_toggle">Configurações</span> </a>
                                {% else %}
                                <a href="/dashboard/config"> <i class="fas fa-cog"></i> <span class="click_toggle">Configurações</span> </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                
                </div>
        
                <div class="main-content-dashboard">
                    <div class="navigation-menu">
                        <div class="container-fluid">
                            <div class="row fs-0">
        
                                <div class="col-xs-2 col-md-9 col-in-block">
                                    <a href="#" class="menu-toggle">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
        
                                <div class="col-xs-10 col-md-3 col-in-block text-right">
                                    <ul class="topbar-dashboard">
                                        <li data-toggle="tooltip" title="Notificações" data-placement="bottom" class="open-not">
                                            <a href="#">

                                                <div class="total-notificacoes">
                                                    <span>{{notificacoes.count}}</span>
                                                </div>

                                                <i class="fas fa-bell"></i>
                                            </a>
                                        </li>
        
                                        <li>
                                            <div class="avatar"
                                            {% if avatar %} 
                                            style="background-image: url('/media/{{avatar}}');"
                                            {% endif %}
                                            data-toggle="tooltip" 
                                            title="{{user.username}}" 
                                            data-placement="bottom"></div>
                                        </li>

                                        <li>
                                            <a href="/logout" data-toggle="tooltip" title="Sair" data-placement="bottom">
                                                <i class="fas fa-sign-out-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
        
                            </div>
                        </div>
                    </div>
        
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
            
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'lib/slick-1.8.1/slick/slick.min.js' %}"></script>
    <script src="{% static 'lib/js-toast-master/toast.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/13e048d385.js"></script>
    <script src="{% static 'script.js' %}" async defer></script>
    </body>
</html>