{% load static %}
{% include 'includes/header.html' %}

   <div class="banner-interno" style="background-image: url('/static/assets/burguer.jpg')">
        <div class="over"></div>

        <div class="container">
            <div class="bread-banner">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li> <span> > </span> </li>
                    <li><h1>Cadastre seu Restaurante</h1></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="form-cadastre-wrapper">
        <div class="container">

            <h1>Cadastre seu Restaurante</h1>

            <form action="">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="input-group">

                            

                            <span>Nome do Dono:
                                <i class="far fa-question-circle"></i> 
                                
                                <div class="question-box">
                                    <h3>Nome do dono</h3>
    
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio et earum, aliquam ratione qui quae!</p>
                                </div>
                            </span> 
                            <input type="text" name="name_owner"> 
                        </div>
            
                        <div class="input-group">
                            <span>Email de Acesso: </span>
                            <input type="text" name="email">
                        </div>
            
                        <div class="input-group">
                            <span>Senha de acesso: <i class="far fa-question-circle"></i></span>
                            <input type="password" name="senha">
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 relative">
                        <div class="disclaimer-options">
                            <h2>Disclaimer</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo error eius quod debitis harum temporibus vel maxime ipsa quae est, officiis nisi aperiam. Iusto, ab.</p>

                            <h2>Disclaimer</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo error eius quod debitis harum temporibus vel maxime ipsa quae est, officiis nisi aperiam. Iusto, ab.</p>
                        </div>
                    </div>
                </div>

                <h1>Informações</h1>
    
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="after-ans">
                            <div class="input-group">
                                <span>Nome do Restaurante: <i class="far fa-question-circle"></i></span>
                                <input type="text" name="restaurante">
                            </div>

                            <div class="input-group">
                                <span>Razão Social: </span>
                                <input type="text" name="restaurante">
                            </div>
        
                            <div class="input-group">
                                <span>Estado: <i class="far fa-question-circle"></i></span>
                                <input type="text" name="estado">
                            </div>
                            
                            <div class="input-group">
                                <span>Cidade</span>
                                <input type="text" name="cidade">
                            </div>
                            
                            
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">

                        <div class="input-group">
                            <span>CEP: <i class="far fa-question-circle"></i></span>
                            <input type="number" name="cep">
                        </div>

                        <div class="input-group">
                            <span>Endereço</span>
                            <input type="text" name="endereco" class="endereco-cad">

                            <input type="number" placeholder="Número" class="number-cad">
                        </div>

                        <div class="input-group">
                            <span>Complemento: <i class="far fa-question-circle"></i></span>
                            <input type="number" name="complemento">
                        </div>

                        <div class="input-group">
                            <span>CNPJ</span>
                            <input type="number" name="cnpj">
                        </div>
                    </div>
                </div>

                <div class="concordo-termos">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur rerum inventore laboriosam, veniam harum hic similique tempora repudiandae sunt aliquid et earum voluptatem enim asperiores nisi voluptas nemo repellat eos architecto sequi cumque doloremque consequatur? Sequi voluptatibus mollitia assumenda laboriosam illum cum architecto in nesciunt ab consectetur, voluptatem alias totam nobis dicta, temporibus atque, molestias praesentium adipisci. Aliquam, expedita necessitatibus? Repudiandae a, error modi distinctio, dolor reiciendis voluptatibus numquam alias totam consequuntur, nihil commodi rerum. Asperiores ipsum incidunt vitae consequatur repellendus dolorem quam iste voluptas rem in sint similique repudiandae explicabo a, eius officia accusamus tempora repellat ducimus obcaecati beatae?</p>
                    
                    <p class="leia-mais">Leia Mais</p>
                </div>

                <div class="input-group">
                    <button type="submit" class="bt">Cadastrar</button>
                </div>
                
            </form>

        </div>
    </div>


{% include 'includes/footer.html' %}