{% extends 'base.html' %}
{% load static %}

{% block title %}
    Carrinho
{% endblock %}

{% block content %}
    <div class="banner-interno" style="background-image: url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
        <div class="over"></div>

        <!-- <div class="container">
            <div class="bread-banner">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li> <span> > </span> </li>
                    <li><h1>Produtos</h1></li>
                </ul>
            </div>
        </div> -->
    </div>

    <div class="carrinho-wrapper">
        <div class="container">

            <a href="#" class="voltar">Voltar</a>
            <h1>Carrinho de Compras</h1>

            <div class="row fs-0">
                <div class="col-xs-12 col-md-8">
                    {% if success %}
                        <div class="todos-items">
                            {% for i in produtos %}
                                <div class="item" id="{{i.id}}">
                                    <div class="col-xs-12 col-md-4 col-in-block v-middle">
                                        <div class="thumb" style="background-image: url('/media/{{i.id_produto.foto}}')">
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4 col-in-block v-middle">
                                        <div class="nome">
                                            <p>{{i.id_produto.nome}}</p>
                                        </div>
                                        <div class="quantidade">
                                            <i class="fas fa-minus"></i><input type="number" value="{{i.quantidade}}"><i class="fas fa-plus"></i>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-2 col-in-block v-middle">
                                        <div class="preco">
                                            <p>R$ <span>{{i.id_produto.preco}}</span></p>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-2 col-in-block v-middle text-right">
                                        <a href="#deleta-{{i.id_produto.nome}}" class="deleteFromCart" id="{{i.id}}">
                                            <i class="fas fa-times deleteCart"></i>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                        <div class="valor-total">
                            <div class="label-final">
                                <h4>Valor Total</h4>
                                <p>+ entrega/frete</p>
                                <h3>Final</h3>
                            </div>
                                
                            <div class="info-final">
                                <p class="preco">R$ <span>{{preco_carrinho}}</span></p>
                                <p class="frete">+R$ <span>{{taxa}}</span> </p>
                                <p class="final"> R$ <span>{{final}}</span> </p>
                            </div>
                                
                        </div>
                        <div class="avancar-checkout">
                            <a href="/checkout">
                                Finalizar
                            </a>
                        </div>
                    {% else %}
                        <div class="display-msg">
                            <h2>{{msg}}</h2>
                            
                            <a href="/login">
                                Faça Login
                            </a>
                            <span>Ou</span>
                            <a href="/produtos">
                                Veja os produtos
                            </a>
                        </div>
                    {% endif %}
                </div>
 
                <div class="col-xs-12 col-md-4">
                    {% if success %}
                        <div class="calcula-frete">
                            <h2>Taxa de Entrega</h2>
                            <ul>
                                {% for i in msg_entrega %}
                                <li>
                                    <p>{{i}}</p>
                                </li>
                                {% endfor %}

                                <li>Valor da entrega: <p>R$ <span>{{taxa}}</span> </p></li>
                            </ul>
                    {% elif success and not taxa_entrega%}
                        <h2>Calculo De frete</h2>

                        <form action="/calcular/frete" method="POST" id="calcularFrete">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="num_frete">CEP</label>
                                <input type="text" id="num_frete" name="cep">

                                <button type="submit">Calcular</button>
                            </div>
                        </form>

                        <div class="frete-opcoes">
                            <ul>
                                <!-- Ajax aqui -->
                            </ul>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}