{% extends 'base_dashboard.html' %}
{% load static %}
{{ form.media }}

{% block title %}
    Dashboard > Produtos
{% endblock %}

<div class="wrapper-dashboard">
    
    {% block content %}

        <div class="content-produtos">

            <h2>Produtos</h2>

            {% if form %}

            <div class="row">
                <div class="col-xs-12">
                    <h3>Adicionar novos produtos</h3>

                    <form action="{% url 'Dashboard_produtos' %}" method="post" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {% for f in form %}
                            <div class="form-group row">
                                <label for="{{f.label}}" class="col-sm-2 col-form-label">{{f.label}}</label>
                                <div class="col-sm-10">
                                    {{ f|safe }}
                                </div>
                            </div>
                        {% endfor %}
    
                        <button type="submit">Salvar</button>
                    </form>
                </div>
            </div>
            {% else %}
                <div class="not-logged-produtos">
                    <h2>Você ainda <span>não</span> pode adicionar produtos</h2>

                    <p>Não se preocupe, após a finalização do seu cadastro, iremos verificar se você está apto para vender em nossa plataforma</p>

                    <p>Então ta esperando o que?</p>

                    <a href="/dashboard/config">Finalize seu cadastro</a>
                </div>
            {% endif %}
        </div>

    {% endblock %}
</div>
