{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}
    Dashboard > Configurações
{% endblock %}

<div class="wrapper-dashboard">
    
    {% block content %}
        <div class="content-config">

            <h2>Sua Conta</h2>

            {% if first_time %}
            <p>Que legal!! Novamente seja bem vindo a nosso sistema. Insira os dados para sabermos mais de você e sua empresa! :)</p>
            {% else %}
            <p>Precisando mudar algum dado?</p>
            <p>Mude abaixo que seus dados serão alterados :)</p>
            {% endif %}

            <div class="display-info">
                <form action="{% url 'Dashboard_config' %}" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group row">
                                <label for="{{form.nome.label}}" class="col-sm-2 col-form-label">{{form.nome.label}}</label>
                                <div class="col-sm-10">
                                    {{form.nome}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{form.cep.label}}" class="col-sm-2 col-form-label">{{form.cep.label}}</label>
                                <div class="col-sm-10">
                                    {{form.cep}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{form.estado.label}}" class="col-sm-2 col-form-label">{{form.estado.label}}</label>
                                <div class="col-sm-10">
                                    {{form.estado}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{form.cidade.label}}" class="col-sm-2 col-form-label">{{form.cidade.label}}</label>
                                <div class="col-sm-10">
                                    {{form.cidade}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{form.razao_social.label}}" class="col-sm-2 col-form-label">{{form.razao_social.label}}</label>
                                <div class="col-sm-10">
                                    {{form.razao_social}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{form.cnpj.label}}" class="col-sm-2 col-form-label">{{form.cnpj.label}}</label>
                                <div class="col-sm-10">
                                    {{form.cnpj}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group row">
                                <label for="{{form.endereco.label}}" class="col-sm-2 col-form-label">{{form.endereco.label}}</label>
                                <div class="col-sm-10">
                                    {{form.endereco}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{form.numero.label}}" class="col-sm-2 col-form-label">{{form.numero.label}}</label>
                                <div class="col-sm-10">
                                    {{form.numero}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{form.complemento.label}}" class="col-sm-2 col-form-label">{{form.complemento.label}}</label>
                                <div class="col-sm-10">
                                    {{form.complemento}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{form.especialidade.label}}" class="col-sm-2 col-form-label">{{form.especialidade.label}}</label>
                                <div class="col-sm-10">
                                    {{form.especialidade}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{form.logo.label}}" class="col-sm-2 col-form-label">{{form.logo.label}}</label>
                                <div class="col-sm-10">
                                    {{form.logo}}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <p>{{form.descricao.label}}</p>
                            {{form.descricao}}
                        </div>
                    </div>

                    <button type="submit">Salvar</button>
                </form>
            </div>

        </div>

    {% endblock %}
</div>
