{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}
    Dashboard > Configurações
{% endblock %}

<div class="wrapper-dashboard">
    
    {% block content %}
        <div class="content-config">
            
            <h2>Sua Conta</h2>

            {% if first_time %}
            <p>Que legal!! Novamente seja bem vindo a nosso sistema. Insira os dados para sabermos mais de você e sua empresa! :)</p>
            {% else %}
            <p>Precisando mudar algum dado?</p>
            <p>Mude abaixo que seus dados serão alterados :)</p>
            {% endif %}

            <div class="display-info">
                <form action="{% url 'Dashboard_config' %}" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% for f in form %}
                        <div class="form-group row">
                            <label for="{{f.label}}" class="col-sm-2 col-form-label">{{f.label}}</label>
                            <div class="col-sm-10">
                                {{f}}
                            </div>
                        </div>
                    {% endfor %}

                    <button type="submit">Salvar</button>
                </form>
            </div>

        </div>

    {% endblock %}
</div>
