{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

    <div class="banner-home" style="background-image: url('https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
        <div class="over"></div>

        <div class="container relative h-100">
            <div class="center-form">
                <h2 class=big-title>
                    Descubra <br> restaurantes 
                    <br> perto de você
                </h2>

                <a href="/restaurantes" class="bt">Saiba Mais</a>

                
            </div>
        </div>
    </div>

    <div class="wrapper-banner-call">
        <div class="container">
            <div class="col-xs-12 col-md-4 p-l-0">
                <a href="/promocoes#pizza-grande">
                    <div class="item-banner-call" style="background-image: url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">

                        <div class="over"></div>
    
                        <div class="banner-call-text">
                            <h3>Pizza <br> Grande </h3>
                            <p>Saiba Mais</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-md-4">
                <a href="/promocoes#comida-japonesa">
                    <div class="item-banner-call" style="background-image: url('https://images.unsplash.com/photo-1553621042-f6e147245754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80')">

                        <div class="over"></div>
    
                        <div class="banner-call-text">
                            <h3>Comida <br> Japonesa </h3>
                            <p>Saiba Mais</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-md-4 p-r-0">
                <a href="/promocoes#melhor-sabor">
                    <div class="item-banner-call" style="background-image: url('https://images.unsplash.com/photo-1529565214304-a882ebc5a8e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">

                        <div class="over"></div>
    
                        <div class="banner-call-text">
                            <h3>Melhor <br> Sabor </h3>
                            <p>Saiba Mais</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="wrapper-random-products">
        <div class="container">

            <p class="small-title">
                Produtos
            </p>

            <h2>Escolhas do dia</h2>

            <div class="display-choices-products">
                {% for i in produtos %}
                    <div class="item">
                        <div class="displayed-ones">

                            <div class="addFavorite">
                                {% if i.nome in teste %}
                                    <i class="fas fa-heart removeMe" id="{{i.id}}"></i>
                                {% else %}
                                    <i class="far fa-heart addMe" id="{{i.id}}"></i>
                                {% endif %}
                            </div>
                            
                            <div class="thumb" style="background-image: url('/media/{{i.foto}}')"></div>
    
                            <div class="more-info">
                                <div class="title">
                                    <h4>{{i.nome|slice:"0:21"}}</h4>
                                </div>

                                <div class="price" id="price-{{i.id}}">
                                    <p>R$ <span>{{i.preco}}</span> </p>
                                </div>

                                <div class="infos">

                                    <a href="#carrinho-{{i.id}}" class="add-carrinho" id="{{i.id}}">
                                        <i class="fas fa-shopping-cart"></i> Carrinho
                                    </a>

                                    <a href="/produtos/info/{{i.id}}" class="h-100">
                                        <i class="fas fa-info"></i> Info
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="categorias-wrapper">
        
        <div class="container">
            <p class="small-title">
                Categorias
            </p>
        
            <h2 class="big-title"> As categorias mais acessadas </h2>

            <div class="container-categoria">

                <div class="first-col">
                    <a href="/produtos/lanches" >
                        <div class="item" style="background-image: url('https://images.unsplash.com/photo-1540265556701-ae209ac395cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80')">
                            <div class="over"></div>
    
                            <h3>Lanches</h3>
                        </div>
                    </a>
                </div>

                <p>{{city}}</p>
                

                <div class="second-col">
                    <div class="second-first-row">
                        <a href="/produtos/pizzas">
                            <div class="item" style="background-image: url('https://images.unsplash.com/photo-1520201163981-8cc95007dd2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80')">
                                <div class="over"></div>

                                <h3> Pizzas </h3>
                            </div>
                        </a>
                    </div>

                    <div class="second-second-row">
                        <div class="item-1" style="background-image: url('https://images.unsplash.com/photo-1563612116891-9b03e4bb9318?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=651&q=80')">
                            <a href="/produtos/japonesa">
                                <div class="over"></div>
                                <h3>Japonesa</h3>
                            </a>
                        </div>
                        <div class="item-2" style="background-image: url('https://images.unsplash.com/photo-1473093226795-af9932fe5856?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=985&q=80')">
                            <a href="/produtos/massa">
                                <div class="over"></div>

                                <h3> Massas </h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="third-col" >
                    <div class="third-first-row">
                        <div class="item-1" style="background-image: url('https://images.unsplash.com/photo-1497534446932-c925b458314e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=707&q=80')">
                            <a href="/produtos/bebidas">
                                <div class="over"></div>

                                <h3>Bebidas</h3>
                            </a>
                        </div>
                        <div class="item-2" style="background-image: url('https://images.unsplash.com/photo-1481931098730-318b6f776db0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=337&q=80')">
                            <a href="/produtos/pratos">
                                <div class="over"></div>

                                <h3>Pratos</h3>
                            </a>
                        </div>
                    </div>

                    <div class="third-second-row">
                        <div class="item" style="background-image: url('https://images.unsplash.com/photo-1551024601-bec78aea704b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80')">
                            <a href="/produtos/doces">
                                <div class="over"></div>

                                <h3>Sobremesas</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="wrapper-servicos padding-sections">
        <div class="container">
            <div class="row fs-0">
                <div class="col-xs-12 col-md-6 col-in-block v-top">
                    <p class="small-title">
                        Empresa
                    </p>

                    <h2 class="big-title">
                        Porque <br> escolher nosso <br> serviço?
                    </h2>
                </div>

                <div class="col-xs-12 col-md-6 col-in-block v-bottom">
                    <p>Nós somos uma empresa focada na satisfação do cliente, <span>Foodz</span> foi criada em 2019 com o intuito de nos ajudar com os resultados do PI - Projeto integrador</p>
                    <p>Sendo assim, estamos bastante feliz com o resultado final, e assim esperamos que seguimos até o fim com esse projeto!</p>
                    
                    <a href="/sobre-nos" class="bt">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-restaurantes">
        <div class="container">
            <p class="small-title text-center">Restaurantes</p>
            <h2 class="big-title text-center">Melhores <br> Restaurantes </h2>

            <div class="melhores-rest" data-aos="zoom-in">
                {% for i in restaurantes %}

                <div class="col-xs-12 col-md-4">
                    
                    <a href="#">
                        <div class="melhores-restaurantes rest-1">
                    
                            <div class="over"></div>

                            <div class="top-nota">
                                <p>8 / <span>10</span></p>
                            </div>
    
                            <div class="rest-down">
                                <h3>Restaurante <br> {{i.nome}} </h3>

                                <a href="/restaurante/info/{{i.id}}" class="bt">Saiba Mais</a>
                            </div>
    
                        </div>
                    </a>

                </div>

                {% endfor %}
            </div>

        </div>
    </div>

    <div class="wrapper-indeciso padding-sections">
        <div class="container">
            <div class="row fs-0">

                <div class="col-xs-12 col-md-7 col-in-block">
                    <h2 class="big-title">
                        Ainda Indeciso? <br>
                        Veja todos os produtos
                    </h2>
                </div>

                <div class="col-xs-12 col-md-5 col-in-block v-middle">
                    <div class="explore">
                        <a href="/produtos">
                            Explore
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="wrapper-motoboy padding-sections">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-6">
                    <div class="motoboy-img"></div>
                </div>

                <div class="col-xs-12 col-md-5 col-md-offset-1">

                    <p class="small-title">Trabalho</p>

                    <h2 class="big-title">
                        Motoboy
                    </h2>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla minima quod at itaque quis facere repudiandae amet voluptatem? Veritatis culpa modi illo laborum non facere, ex beatae sint consectetur? Itaque quibusdam nesciunt libero totam eos.</p>

                    <a href="#" class="bt">
                        Explore
                    </a>

                </div>
                
            </div>
        </div>
    </div> -->

{% endblock %}