{% extends 'base.html' %}

{% block title %}
    Minha Conta - {{id}}
{% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}

        <div class="modal-favoritos">

            <i class="fas fa-times" id="close-fav"></i>

            <div class="actual-modal">
                <h3>Seus Favoritos</h3>

                {% if favoritos %}
                    <ul>
                        {% for i in favoritos %}
                            <li>
                                <div class="fav">
                                    <div class="image">
                                        <img src="/media/{{i.id_produto.foto}}" alt="">
                                    </div>

                                    <div class="text">
                                        <p>{{i.id_produto.nome}}</p>
                                        <p>Vendido por: <span>{{i.id_produto.restaurante.nome}}</span></p>
                                    </div>

                                    <div class="link">
                                        <div class="center-me">
                                            <a href="/produtos/info/{{i.id_produto.id}}" target="_blank">
                                                <i class="fas fa-info" data-toggle="tooltip" title="Ver Produto" data-placement="bottom"></i>
                                            </a>
    
                                            <a href="#deletar-{{i.id_produto.id}}">
                                                <i class="fas fa-trash-alt" data-toggle="tooltip" title="Remover Favorito" data-placement="bottom"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="no-fav">
                        <h4>Você não possui nenhum produto favorito</h4>
                    </div>
                {% endif %}
            </div>
        </div>

        {% for cl in cliente %}
        <div class="minha-conta-wrapper">
            <div class="side-nav-conta">
                
                <div class="info-nome">
                    
                    <div class="foto">
                        <div class="bg" style="background-image: url('/media/{{cl.avatar}}');"></div>
                    </div>

                    <h2>{{user.username}}</h2>

                    <ul>
                        <li>
                            <a href="#">
                                <i class="fas fa-user"></i> <span>Minha Conta</span>
                            </a>
                        </li>

                        <li class="open-fav">
                            <a href="#">
                                <i class="fas fa-heart"></i> <span>Favoritos</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-trash-alt"></i> <span>Deletar Conta</span>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="my-info-conta">
                <h3>Minha Conta</h3>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#pedidos">Pedidos</a></li>
                    <li><a data-toggle="tab" href="#cadastro">Cadastro</a></li>
                    <li><a data-toggle="tab" href="#enderecos">Endereços</a></li>
                </ul>

                <div class="tab-content">
                    <div id="pedidos" class="tab-pane fade in active">
                        
                        <div class="show-pedidos">

                            <div class="container p-0 m-w">
                                {% if pedidos %}
                                    {% for ord in orders|dictsortreversed:"id" %}
                                        <div class="pedido">
                                            <div class="side-bar-color" style="background-color: red;"></div>
                                            <div class="header-pedido">
                                                    {% if status %}
                                                        {% for stat in status %}
                                                            {% if ord.id == stat.id_compra.id %}
                                                                {% if stat.recebido %}
                                                                    <p>Pedido Recebido</p>
                                                                {% elif stat.saiu %}
                                                                    <p>Pedido Em preparação</p>
                                                                {% elif stat.em_rota %}
                                                                    <p>Pedido Em rota</p>
                                                                {% elif stat.entregue %}
                                                                    <p>Pedido Entregue</p>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                <p>Pedido: #{{ord.id}}</p>
                                            </div>
                                            <div class="pedido-items">
                                                {% for i in pedidos %}
                                                    {% if ord.id == i.order_id.id %}
                                                        <div class="row spec-ped">
                                                            <div class="col-xs-12 col-md-3">
                                                                <img src="/media/{{i.id_produto.foto}}" alt="" class="img-pedido">
                                                            </div>

                                                            <div class="col-xs-12 col-md-9">
                                                                <div class="text">
                                                                    <p>{{i.id_produto.nome}}</p>
                                                                    <p> <span>{{i.quantidade}}</span> unidade - R$ <span>{{i.id_produto.preco}}(cada)</span> </p>
                                                                    <p>Vendido por: <a href="#"> {{i.id_restaurante.nome}} </a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="more-info-order">
                                                            <p>Data do pedido: <span>{{ i.order_time|date:"d M Y" }} {{ i.order_time|time:"H:i" }}</span></p>
                                                            <p>Vendido por: <span>{{i.id_restaurante.nome}}</span> </p>
                                                            <p>Endereço de entrega: <span>{{i.endereco_entrega}}</span> </p>
                                                            <p>Endereço de Saida: <span>{{i.endereco_saida}}</span> </p>
                                                            <p>Comentario: <span class="display-comentario">{{i.comentario}}</span> </p>

                                                            {% if not i.comentario %}
                                                                <a href="#">Escreva um comentário</a>

                                                                <div class="show-comentario-to-write">
                                                                    <p>Nos diga o que você achou do {{i.id_produto.nome}}</p>
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <textarea type="text" placeholder="Descrição" required name="descricao" id="descricao"></textarea>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <input type="number" required placeholder="Nota" name="nota" min="0" max="5" id="nota">
                                                                        </div>

                                                                        <div class="form-group radios-recomenda">
                                                                            <select name="recomenda" id="recomenda">
                                                                                <option value="" disabled selected>Recomenda?</option>
                                                                                <option value="sim">Sim</option>
                                                                                <option value="nao">Não</option>
                                                                            </select>
                                                                        </div>

                                                                        <input type="hidden" id="cliente_id" value="{{request.user.id}}">
                                                                        <input type="hidden" id="produto_id" value="{{i.id_produto.id}}">
                                                                        <input type="hidden" id="restaurante_id" value="{{i.id_restaurante.id}}">

                                                                        <a href="#enviarComentario" class="enviaComentario">Enviar</a>
                                                                    </form>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="mais-detalhes">
                                                <i class="fas fa-chevron-down"></i>
                                                <p>Mais Detalhes</p>
                                            </div>

                                            <div class="status-pedido">
                                                {% if status %}
                                                    {% for stat in status %}
                                                        {% if ord.id == stat.id_compra.id %}
                                                            <div class="steps">
                                                                <ul class="steps-container">
                                                                    <li style="width:25%;" class="{% if stat.recebido %}activated{% endif %}">
                                                                        <div class="step">
                                                                            <div class="step-image"><span></span></div>
                                                                            <div class="step-current">Status 1</div>
                                                                            <div class="step-description">Recebido</div>
                                                                        </div>
                                                                    </li>
                                                                    <li style="width:25%;" class="{% if stat.saiu %}activated{% endif %}">
                                                                        <div class="step">
                                                                            <div class="step-image"><span></span></div>
                                                                            <div class="step-current">Status 2</div>
                                                                            <div class="step-description">Preparação</div>
                                                                        </div>
                                                                    </li>
                                                                    <li style="width:25%;" class="{% if stat.em_rota %}activated{% endif %}">
                                                                        <div class="step">
                                                                            <div class="step-image"><span></span></div>
                                                                            <div class="step-current">Status 3</div>
                                                                            <div class="step-description">Em rota</div>
                                                                        </div>
                                                                    </li>
                                                                    <li style="width:25%;" class="{% if stat.entregue %}activated{% endif %}">
                                                                        <div class="step">
                                                                            <div class="step-image"><span></span></div>
                                                                            <div class="step-current">Status 4</div>
                                                                            <div class="step-description">Entregue</div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                {% if stat.recebido %}
                                                                <div class="step-bar" style="width: 25%;"></div>
                                                                {% elif stat.saiu %}
                                                                <div class="step-bar" style="width: 50%;"></div>
                                                                {% elif stat.em_rota %}
                                                                <div class="step-bar" style="width: 75%;"></div>
                                                                {% elif stat.entregue %}
                                                                <div class="step-bar" style="width: 90%;"></div>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="no-status">
                                                        <p>Status não disponivel para essa compra</p>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="no-pedidos">
                                        <h2>{{msg}}</h2>

                                        <span>Me leve até os </span>

                                        <a href="/produtos">
                                            Produtos
                                        </a>
                                    </div>
                                {% endif %}
                            </div>

                        </div>

                    </div>

                    <div id="cadastro" class="tab-pane fade">

                        
                        <div class="display-info">
                            <h3>Informações Adicionais</h3>
                            <form action="/conta/{{id}}/" method="post" enctype='multipart/form-data'>
                                {% csrf_token %}

                                <div class="row">
                                    <div class="form-group row">
                                        <label for="{{form.cpf.label}}" class="col-sm-2 col-form-label">{{form.cpf.label}}</label>
                                        <div class="col-sm-10">
                                            {{form.cpf}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{form.telefone.label}}" class="col-sm-2 col-form-label">{{form.telefone.label}}</label>
                                        <div class="col-sm-10">
                                            {{form.telefone}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{form.avatar.label}}" class="col-sm-2 col-form-label">{{form.avatar.label}}</label>
                                        <div class="col-sm-10">
                                            {{form.avatar}}
                                        </div>
                                    </div>
                                </div>

                                <button type="submit">Salvar</button>
                            </form>
                        </div>


                    </div>

                    <div id="enderecos" class="tab-pane fade">
                      <h2>Seus Endereços</h2>

                      <div class="endereco-wrapper">
                          <ul>
                              <li>Endereço: {{cl.endereco_id.endereco}}</li>
                          </ul>
                      </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    
{% endblock %}