{% include 'includes/header.html' %}

    <div class="banner-interno" style="background-image: url('/static/assets/burguer.jpg')">
        <div class="over"></div>
    </div>

    <div class="show-produtos-wrapper padding-sections">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-6 text-left">
                    <p>Mostrando (5) resultado(s)</p>
                </div>

                <div class="col-xs-12 col-md-6 text-right">
                    <a href="#" class="">
                        Filtrar
                    </a>
                </div>

                <div class="content">
                    <div class="row">

                        {% for i in range %}

                        <div class="col-xs-12 col-md-4">
                            eae
                        </div>

                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% include 'includes/footer.html' %}