{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{produto.nome}}
{% endblock %}

{% block content %}
    <div class="product-display">

        <div class="container">
            <div class="row">

                {% if produto %}
                    <div class="col-xs-12 col-md-6" data-aos="fade-right">
                        <div class="main-image">
                            <img src="/media/{{produto.foto}}" alt="{{produto.nome}}" class="img-responsive">
                        </div>
                    </div>
        
                    <div class="col-xs-12 col-md-6" id="ifp">
    
                        <p class="small-title" style="text-transform: capitalize;">
                            <a href="/produtos/{{produto.categoria|lower}}">
                                {{produto.categoria}}
                            </a>
                        </p>
    
                        <h1 class="big-title" data-aos="fade-up">
                            {{produto.nome}}
                        </h1>
    
                        <p class=descricao_info>{{produto.descricao|striptags }}</p>

                        <div class="price-info">
                            <h4 id="price-{{produto.id}}">
                                <p>R$ <span>{{produto.preco}}</span> </p>
                            </h4>
                        </div>

                        <div class="buy-and-quantity" data-aos="zoom-bottom">
                            <a href="#adicionar-carrinho" class="btn add-carrinho" id="{{produto.id}}">Comprar</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="get-rest-name-info padding-sections">

        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-4">

                    <p class="small-title">Vendido por</p>

                    <h2 class="big-title"> Restaurante <br> <span>{{produto.restaurante.nome}}</span> </h2>

                    <div class="rating-restaurante">
                        <ul>
                            <!-- {% for i in range %}
                                <li><i class="far fa-star fa-2x"></i></li>
                            {% endfor %} -->
                        </ul>
                    </div>

                </div>

                <div class="col-xs-12 col-md-7 col-md-offset-1">
                    <div class="featured-products">
                        {% for r in mais_produtos %}
                            <div class="product product-1">
                                <div class="inside-top">
                                    <span> 01 </span>
    
                                    <p>
                                        {{r.preco}}
                                    </p>
                                </div>
    
                                <div class="inside-bottom">
                                    <p>Restaurante {{r.restaurante.nome}}</p>
    
                                    <h3>{{r.nome}}</h3>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="saiba-mais-card">
                            <a href="/restaurante/info/{{r.restaurante.id}}">
                                <p>Saiba Mais <span><i class="fas fa-arrow-right"></i></span> </p>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="comment-section padding-sections">
        
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-md-7">

                    <h2 class="big-title">Comentários</h2>
    
                    
                    {% if comentarios %}
                        <p class="small-title">
                            Mostrando <span>{{comentarios.count}}</span>
                        </p>
                        <div class="display-comments">
                            {% for i in comentarios %}
    
                                <div class="comment comment1">
                                    <div class="rating-comment">
                                        <ul>
                                            {% with ''|center:i.nota as range %}
                                                {% for nota in range %}
                                                    <li><i class="fas fa-star"></i> </li>
                                                {% endfor %}
                                                {% for r in teste %}
                                                    <li><i class="far fa-star"></i> </li>
                                                {% endfor %}
                                            {% endwith %}
                                            <li><p>{{i.nota}}/5</p></li>
                                        </ul>
                                    </div>
    
                                    <h3> Usuário ID: {{i.cliente_id.user_id}} </h3>
                                    <p class="small-title"> {{ i.data_comentario|date:"d M Y" }} {{ i.data_comentario|time:"H:i" }} </p>
    
                                    <div class="review">
                                        <p>{{i.descricao}}</p>
                                    </div>
    
                                </div>
    
                            {% endfor %}
    
                        </div>
                    {% else %}
                        <div class="no-comments">
                            <h2>Nenhum comentario nesse produto :(</h2>
                        </div>
                    {% endif %}

                </div>
            </div>

        </div>

    </div>

{% endblock %}