{% extends 'base.html' %}
{% load static %}

{% block title %}
    Promoções
{% endblock %}

{% block content %}

    <div class="promocoes-wrapper">
        <div class="promo promo-1" data-aos="zoom-left">
            <div class="over"></div>

            <div class="text-hover" data-aos="fade-up">
                <h2>Pizza</h2>

                <p>As melhores Pizzas</p>
                <a href="/produtos/pizzas">Confira</a>
            </div>

        </div>
        <div class="promo promo-2" data-aos="zoom-up">
            <div class="over"></div>
            <div class="text-hover" data-aos="fade-up">
                <h2>Japonesa</h2>

                <p>As melhores promoções</p>
                <a href="/produtos/japonesa">Confira</a>
            </div>
        </div>
        <div class="promo promo-3" data-aos="zoom-bottom">
            <div class="over"></div>
            <div class="text-hover" data-aos="fade-up">
                <h2>Lanches</h2>

                <p>Confira os melhores</p>
                <a href="/produtos/lanches">Confira</a>
            </div>
        </div>
    </div>

{% endblock %}