{% extends 'base.html' %}

{% block title %}
    Criar uma conta
{% endblock %}

{% block content %}
    <div class="login-wrapper">

        <div class="left-side-info">
            <div class="over"></div>
            <div class="main-name">
                <h1>
                    <a href="/">
                        Foodz
                    </a>
                </h1>
            </div>

            <div class="side-info-menu hidden-xs hidden-sm">
                <ul>
                    <li><a href="/sobre-nos">Sobre Nós</a></li>
                    <li><a href="/produtos">Produtos</a></li>
                    <li><a href="/restaurantes">Restaurantes</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>

            <div class="accord-bottom hidden-xs hidden-sm">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae mollitia similique tenetur quia eius, asperiores quas exercitationem eaque optio in porro, iste, veniam quis. Odit id molestiae fugiat labore iure! Ullam dicta rerum aut aspernatur! Nihil, ex ratione reprehenderit perferendis nulla veniam fugit. Tempora tenetur, provident dicta dolore repellendus consequuntur?</p>
            </div>
        </div>

        <div class="center-form-login">

            <h2>Seja bem vindo!</h2>

            <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}

                <input type="text" placeholder="Nome" name="nome" required>
                {% if messages %}
                <input type="email" placeholder="Email" name="email" required class="thicker">
                {% else %}
                <input type="email" placeholder="Email" name="email" required>
                {% endif %}
                <input type="password" placeholder="Senha" name="senha" required>

                <div class="input-tipo">
                    <select name="tipo" id="tipo_cliente" required>
                        <option value="" disabled selected>Tipo de Perfil</option>
                        <option value="Cliente">Cliente</option>
                        <option value="Dono">Dono</option>
                    </select>
                </div>

                {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            <h3>{{message}}</h3>
                        {% endfor %}
                    </div>
                {% endif %}

                <a href="/login">Já possui uma conta?</a>
                
                <button type="submit" class="login-btn">Criar Conta</button>
            </form>
        </div>
    </div>

{% endblock %}