{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{restaurante.nome}}
{% endblock %}

{% block content %}
    
    <div class="rest-info-wrapper"> 

        <div class="hero-info">
            <p>Seja bem vindo</p>
            <h1 data-aos="fade-up">{{restaurante.nome|capfirst}}</h1>
            <h2>Somos especializados em {% if restaurante.especialidade %} <span>{{restaurante.especialidade|capfirst}}</span> {% else %} <span>Comida de Qualidade</span> {% endif %}</h2>
        </div>

        <div class="nossos-produtos">
            <h2>Nossos produtos em destaque</h2>
            <div class="container">
                {% for p in mais_produtos %}
                    <div class="row m-w">
                        <div class="col-xs-12 col-md-6">
                            <img src="/media/{{p.foto}}" alt="{{p.nome}}" class="img-responsive info-prod-img" data-aos="{% if forloop.counter|divisibleby:2  %}fade-right{% else %}fade-left{% endif %}">
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <h3 data-aos="{% if forloop.counter|divisibleby:2  %}fade-up{% else %}fade-bottom{% endif %}">{{p.nome}}</h3>
                            <p data-aos="{% if forloop.counter|divisibleby:2  %}fade-bottom{% else %}fade-up{% endif %}">{{p.descricao|safe}}</p>

                            <a href="/produtos/info/{{p.id}}" data-aos="{% if forloop.counter|divisibleby:2  %}zoom-right{% else %}zoom-left{% endif %}">Saiba Mais</a>
                        </div>
                    </div>
                {% empty %}
                <div class="no-rest-prods">
                    
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}