{% extends 'base.html' %}

{% block title %}
    Restaurantes
{% endblock %}

{% block content %}
    <div class="banner-interno" style="background-image: url('/static/assets/burguer.jpg')">
        <div class="over"></div>

        <div class="container">
            <div class="bread-banner">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li> <span> > </span> </li>
                    <li><h1>Restaurantes</h1></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="all-rests padding-sections">
        
    </div>

{% endblock %}