{% extends 'base.html' %}

{% block title %}
    Criar uma conta
{% endblock %}

{% block content %}
    <div class="login-wrapper">

        <div class="left-side-info">
            <div class="over"></div>
            <div class="main-name">
                <h1>
                    <a href="/">
                        Foodz
                    </a>
                </h1>
            </div>

            <div class="side-info-menu hidden-xs hidden-sm">
                <ul>
                    <li><a href="/sobre-nos">Sobre Nós</a></li>
                    <li><a href="/produtos">Produtos</a></li>
                    <li><a href="/restaurantes">Restaurantes</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>

            <div class="accord-bottom hidden-xs hidden-sm">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae mollitia similique tenetur quia eius, asperiores quas exercitationem eaque optio in porro, iste, veniam quis. Odit id molestiae fugiat labore iure! Ullam dicta rerum aut aspernatur! Nihil, ex ratione reprehenderit perferendis nulla veniam fugit. Tempora tenetur, provident dicta dolore repellendus consequuntur?</p>
            </div>
        </div>

        <div class="center-form-login">

            <h2>Seja bem vindo!</h2>

            <form action="">
            {% csrf_token %}
                {% for fields in form %}
                    {{ fields.errors }}
                    {{ fields.label_tag }} {{ fields }}
                {% endfor %}
                
                <button type="submit" class="login-btn">Criar Conta</button>
            </form>
        </div>
    </div>

{% endblock %}