{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sobre Nós
{% endblock %}

{% block content %}
    <div class="wrapper-sobre-nos padding-sections">

        <div class="hero-foodz">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <img data-aos="fade-up" src="../static/assets/sobre-nos-pizza.png" alt="Pizza Zika">
                    </div>

                    <div class="col-xs-12 col-md-6" data-aos="fade-left">
                        <h1>Foodz</h1>

                        <p>Nós somos uma empresa focada na satisfação do cliente, <span>Foodz</span> foi criada em 2019 com o intuito de nos ajudar com os resultados do PI - Projeto integrador</p>

                        <p>Sendo assim, estamos bastante feliz com o resultado final, e assim esperamos que seguimos até o fim com esse projeto!</p>
                    
                        <a href="#" data-aos="zoom-left">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-more-about">
            <div class="container">

                <h2>Os criadores</h2>

                <div class="col-xs-12 col-md-4">
                    <div class="item" data-aos="fade-left">
                        <i class="fas fa-user"></i>
                        <h3>Jean 'Louco' Carlos</h3>

                        <p><span>Resposável por: </span></p>

                        <ul>
                            <li>Gestão de Projetos</li>
                            <li>Parte Escrita</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="item bigger-item" data-aos="fade-down">
                        <i class="fas fa-user"></i>
                        <h3>Nicolas Marqui</h3>

                        <p><span>Resposável por: </span></p>

                        <ul>
                            <li>Programação WEB</li>
                            <li>Todo o código</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="item" data-aos="fade-right">
                        <i class="fas fa-user"></i>
                        <h3>Juarez 'JuJu' Marcelino de Jesus Junior</h3>

                        <p><span>Resposável por: </span></p>

                        <ul>
                            <li>IHC - Interação Humano Computador</li>
                            <li>Gestão de Projetos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="see-code">
            <div class="over"></div>

            <a href="https://github.com/NicolasMarqui/Foodz-Delivery-App">
                <i class="fab fa-github"></i>
                <p>Veja todo o código desse site</p>
            </a>
        </div>
    </div>
{% endblock %}