{% load static %}

{% block content %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if request.path == '/' %}
            <title>Home - Foodz Delivery</title>
        {% elif '/dashboard' in request.path %}
            <title> Dashboard - Foodz Delivery </title>
        {% endif %}
            
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'lib/slick-1.8.1/slick/slick.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'reset.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="main-container">

            <div class="display-shopping-cart">

                <div class="inside-header">
                    <h2>Seu Carrinho</h2>

                    <div class="closing-menu">
                        <i class="fas fa-times"></i>
                    </div>
                </div>

                <div class="display-shopping-item">
                    <ul>
                        {% for i in range %}
                        <li>
                            <div class="display">

                                <div class="amount">
                                    <p> x <span>1</span> </p>
                                </div>

                                <div class="info">
                                    <h5>Pizza Calabresa</h5>
                                    <p> <strong>Vendido por: </strong> SóDelicia </p>
                                </div>

                                <div class="preco">
                                    <p>R$ <span>0.00</span> </p>
                                </div>

                            </div>
                        </li>

                        {% endfor %}
                    </ul>

                    <div class="total">
                        <h2>Valor Total: </h2>

                        <p>R$ <span>0.00</span> </p>
                    </div>
                </div>

                <div class="go-checkout-info">
                    <a href="#" class="bt">Continuar</a>
                </div>
            </div>

            <div class="menu-mobile-wrapper">

                <i class="fas fa-times" id="close-full-menu"></i>
                
                <div class="center-menu">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>

                        <li>
                            <a href="sobre-nos">Sobre Nós</a>
                        </li>

                        <li>
                            <a href="#">Produtos</a>
                        </li>

                        <li>
                            <a href="#">Login</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mobile-cart visible-xs visible-sm">
                <i class="fas fa-shopping-cart"></i>
            </div>

            <header>
                <div class="header">
                    <div class="container">
                        <div class="row fs-0">

                            <div class="col-xs-6 col-sm-2 col-in-block text-left">
                                <div class="logo">
                                    <h1><a href="/">Foodz</a></h1>
                                </div>
                            </div>

                            <div class="col-sm-5 col-md-3 hidden-xs col-in-block v-bottom">
                                <div class="search-nav">
                                    <input type="text" placeholder="Pesquisar">
                                    <span>
                                        <i class="fas fa-search fa-2x"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-5 col-md-4 col-in-block text-right">
                                <div class="menu">
                                    <ul>
                                        {% if request.path == '/' %}
                                            <li class="active"><a href="/">Home</a></li>
                                        {% else %}
                                            <li><a href="/">Home</a></li>
                                        {% endif %}
                                
                                        <li><a href="/sobre-nos">Sobre Nós</a></li>
                                
                                        {% if '/produtos' in request.path  %}
                                            <li class="active"><a href="/produtos">Produtos</a></li>
                                        {% else %}
                                            <li><a href="/produtos">Produtos</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                            <div class="hidden-xs hidden-sm col-xs-3 col-md-3 col-in-block">
                                <div class="side-info-header">
                                    <ul>
                                        <li class="login-header">
                                            <a href="login">Login</a>
                                        </li>
                                        <li class="shopping-cart">
                                            <a href="#">
                                                <div class="amount-cart">
                                                    <span>0</span>
                                                </div>

                                                <a href="#">R$ <span>0.00</span></a>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="hidden-md hidden-lg hidden-sm col-xs-6 col-in-block text-right">
                                <div class="menu-m">
                                    <i class="fas fa-bars fa-2x"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="bottom-header">
                    <div class="container">
                        {% include 'includes/products-bottom.html' %}
                    </div>
                </div>
            </header>


{% endblock %}