<ul>
    <li>
        <a href="#">  
            <span><img src="../../static/assets/icons/hamburger.png" alt="Lanches"></span>
            <span class="hidden-xs hidden-sm">Lanches</span>
        </a>
    
        <ul class="show-products-hover">
            <li>
                <a href="#">
                    <div class="inside-img">
                        <img src="../../static/assets/produtos/burguer-1.png" alt="" class="img-responsive">
                        <h3>Hámburguer</h3>
                    </div>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <div class="inside-img">
                        <img src="../../static/assets/produtos/burguer-2.png" alt="" class="img-responsive">
                        <h3>Hámburguer</h3>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <div class="inside-img">
                        <img src="../../static/assets/produtos/burguer-3.png" alt="" class="img-responsive">
                        <h3>Hámburguer</h3>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <div class="inside-img">
                        <img src="../../static/assets/produtos/burguer-4.png" alt="" class="img-responsive">
                        <h3>Hámburguer</h3>
                    </div>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#">
            <span><img src="../../static/assets/icons/pizza-slice.png" alt="Pizza"></span>
            <span class="hidden-xs hidden-sm">Pizzas</span>
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="../../static/assets/icons/beer.png" alt="Bebidas"></span>            
            <span class="hidden-xs hidden-sm">Bebidas</span>
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="../../static/assets/icons/cake.png" alt="Sobremesas"></span>            
            <span class="hidden-xs hidden-sm">
                Sorvetes
            </span>    
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="../../static/assets/icons/turkey.png" alt="Pratos"></span> 
            <span class="hidden-xs hidden-sm">
                Pratos
            </span>
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="../../static/assets/icons/spaghetti.png" alt="Italiana"></span>
            <span class="hidden-xs hidden-sm">
                Italiana
            </span>    
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="../../static/assets/icons/noodles.png" alt="Chinesa"></span>            
            <span class="hidden-xs hidden-sm">
                Chinesa
            </span>    
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="../../static/assets/icons/hot-dog.png" alt="Hot Dog"></span>                        
            <span class="hidden-xs hidden-sm">
                Hot Dog
            </span>    
        </a>
    </li>

    <li class="hidden-xs">
        <a href="#">Veja Mais</a>
    </li>
</ul>