<ul>
    <li class="todos-bottom">
        <a href="#"> <i class="fas fa-bars"></i> Todos</a>

        <div class="show-todos-hover">
            <ul>
                <li>
                    <a href="#">Lanches</a>

                    
                </li>
                <li>
                    <a href="#">Pizza</a>
                </li>
                <li>
                    <a href="#">Bebidas</a>
                </li>
                <li><a href="#">Lanches</a></li>
                <li><a href="#">Lanches</a></li>
                <li><a href="#">Lanches</a></li>
                <li><a href="#">Lanches</a></li>
                <li>
                    <a href="#">Hot Dog</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#">  
            <span><img src="/static/assets/icons/hamburger.png" alt="Lanches"></span>
            <span class="hidden-xs hidden-sm">Lanches</span>
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="/static/assets/icons/pizza-slice.png" alt="Pizza"></span>
            <span class="hidden-xs hidden-sm">Pizzas</span>
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="/static/assets/icons/beer.png" alt="Bebidas"></span>            
            <span class="hidden-xs hidden-sm">Bebidas</span>
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="/static/assets/icons/cake.png" alt="Sobremesas"></span>            
            <span class="hidden-xs hidden-sm">
                Sorvetes
            </span>    
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="/static/assets/icons/turkey.png" alt="Pratos"></span> 
            <span class="hidden-xs hidden-sm">
                Pratos
            </span>
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="/static/assets/icons/spaghetti.png" alt="Italiana"></span>
            <span class="hidden-xs hidden-sm">
                Italiana
            </span>    
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="/static/assets/icons/noodles.png" alt="Chinesa"></span>            
            <span class="hidden-xs hidden-sm">
                Chinesa
            </span>    
        </a>
    </li>

    <li>
        <a href="#">
            <span><img src="/static/assets/icons/hot-dog.png" alt="Hot Dog"></span>                        
            <span class="hidden-xs hidden-sm">
                Hot Dog
            </span>    
        </a>
    </li>
</ul>